# Configuration file that sets environment variables for the repository using `direnv`.
# Requires running `direnv allow`` to work.
# ensure asdf and python work together
layout python

# .env
dotenv
